<style type="text/css">
<!--

html * {
  font-family: meiryo, arial, "MS Gothic", "Gothic";
}/* end-of body */

div.main {
  position: relative;
  top: 0px;
  left: 0px;
}

div.page_title {
  position: absolute;
  top: 15px;
  left: 0px;
  font-size: 18px;
}/* end-of div.page_title */

div.page_title img {
  vertical-align: bottom;
  margin-right: 10px;
}/* end-of div.page_title img */

#confirm_party {
  top: 65px;
  left: 0px;
  width: 400px;
  padding-bottom: 30px;
}/* end-of #confirm_party */

#shop_name {
  width: 100%;
  border: none;
}/* end-of shop_name */

#box_shop .body table {
  font-size: 13px;
  width: 100%;
}/* end-of box_shop .body table */

#box_shop .body .shop_info {
  font-size: 13px;
}/* end-of box_shop .body .shop_info */

#box_shop .body #shop_detail_area {
  margin-top: 5px;
}/* end-of box_shop .body #shop_detail_area */

#box_shop .body .image_float_left {
  text-align: center;
  width: 58px;
  float: left;
}/* end-of box_shop .body .image_float_left */

#box_shop .body .image_float_right {
  width: 300px;
  float: right;
}/* end-of box_shop .body .image_float_right */

#box_shop .body img {
  border-style: none;
  vertical-align: bottom;
}/* end-of box_shop .body img */

#box_shop .shop_button {
  text-align: center;
  margin-top: 5px;
}/* end-of box_shop .shop_button */

#box_member table {
  width: 100%;
}/* end-of box_member table */

#box_member td {
  border-top: 2px dotted #999999;
  padding: 5px 5px;
}/* end-of box_member td */

#box_member tr:first-child td {
  border-top: 0px;
  padding-top: 0px;
}/* end-of box_member tr:first-child td */

#textarea_info {
  width:100%;
  height: 200px;
  border: 0px;
}

#box_message {
  width: 100%;
  border: 0px;
  display: table;
}

#box_message .body {
  border: 5px double #FF9900;
  vertical-align: middle;
  color: #FF0000;
  background-color: #FFFF99;
  font-weight: bold;
  display: table-cell;
}/* end-of box_message .body */

#box_submit {
  border: 0px;
  text-align: center;
}

.rollover_link {
  height: 21px;
  width: 81px;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  padding: 6px 0px 0px 0px;
  margin: 0px 5px 0px 10px;
  color: #4d4d4d;
  display: inline-block;
}/* end-of .rollover_link */

#link_back {
  background-image: url("/images/button_red.png");
}/* end-of link_back */

.new_party {
  display: inline-block;
}
.edit_party {
  display: inline-block;
}

-->
</style>

<div class="main">

<!-- タイトル -->
<div class="page_title">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr valign="bottom">
      <td><img src="/images/beer.png" /></td>
      <td>飲み会企画 内容確認</td>
    </tr>
  </table>
</div><!-- end-of .page_title -->

<div class="container" id="confirm_party">

  <!-- 飲み会名BOX -->
  <div class="box" id="box_party_name">
    <div class="title">名称</div>
    <div class="body">
      <%=h @party.party_name %>
    </div>
  </div><!-- end-of #box_party_name -->

  <!-- 開催状況BOX -->
  <div class="box" id="box_status">
    <div class="title">開催状況</div>
    <div class="body">
      <%=h party_status_char @party.party_status %>
    </div>
  </div><!-- end-of #box_status -->

  <!-- 日程BOX -->
  <div class="box" id="box_date">
    <div class="title">日程</div>
    <div class="body">
      <%=h @party.opendate.strftime("%Y年 %m月 %d日 %H時 %M分") %>
    </div>
  </div><!-- end-of #box_date -->

  <!-- お店BOX -->
  <div class="box" id="box_shop">
    <div class="title">お店</div>
    <div class="body">
      <div class="shop_info">
        <div id="shop_info_name"><%=h @shop.nil? ? "" : @shop.name %></div>
        <div id="shop_detail_area">
          <div class="image_float_left">
            <a href="<%=h @shop.nil? ? "" : @shop.urls.pc %>" target="_blank"><img src="<%=h @shop.nil? ? "" : @shop.photo.pc.s %>" id="shop_image_s" /></a><br />
            <a href="<%=h @shop.nil? ? "" : @shop.urls.pc %>" target="_blank">お店紹介</a>
          </div>
          <div class="image_float_right">
            <div class="sub_title">住所</div>
            <div id="shop_info_address"><%=h @shop.nil? ? "" : @shop.address %></div>
          </div>
          <br style="clear: both; font-size: 0px;" />
          <div class="image_credit">【画像提供：ホットペッパー　FooMoo】</div>
        </div>
      </div>
    </div>
  </div><!-- end-of #box_shop -->

  <!-- 予算BOX -->
  <div class="box" id="box_budget">
    <div class="title">予算</div>
    <div class="body">
      <%=h @party.due %>円　（<%=h @party.class_party.class_party_name %>）
    </div>
  </div><!-- end-of #box_budget -->

  <!-- メンバーBOX -->
  <div class="box" id="box_member">
    <div class="title">メンバー</div>
    <div class="body">
      <table border="0" cellspacing="0" cellpadding="0">
        <% for member in @party.members -%>
        <tr><td><%=h member.user.display_name %></td></tr>
        <% end -%>
      </table>
    </div>
  </div><!-- end-of #box_member -->



  <!-- メッセージ欄 -->
  <div class="box" id="box_message">
    <div class="body">※「登録」ボタンをクリックすると、<br>　内容が保存されメンバーにメール配信されます</div>
  </div><!-- end-of #box_message -->

  <!-- 登録ボタンBOX -->
  <div class="box" id="box_submit">
    <% form_for @party, :url => {:action => :create_party_plan, :id => @party.id}, :html => {:name => :back, :method => :post} do |form| %>
      <%= link_to '戻る', {:action => '#'}, {:class => :rollover_link, :id => :link_back, :onclick => 'document.back.submit(); return false;'} %>
    <% end %>
    <% form_for @party, :url => {:action => :registration_party_plan, :id => @party.id}, :html => {:name => :regist, :method => :post} do |form| %>
      <%= link_to '登録', {:action => '#'}, {:class => :rollover_link, :id => :link_regist, :onclick => 'document.regist.submit(); return false;'} %>
    <% end %>
  </div><!-- end-of #box_submit -->

</div><!-- end-of #confirm_party -->

</div><!-- end-of .main -->
