<%= stylesheet_link_tag 'default' %>
<%= stylesheet_link_tag 'lighting' %>
<%= javascript_include_tag 'window' %>
<style type="text/css">
<!--

html * {
  font-family: meiryo, arial, "MS Gothic", "Gothic";
}

div.main {
  position: relative;
  top: 0px;
  left: 0px;
}

div.page_title {
  position: absolute;
  top: 15px;
  left: 0px;
  font-size: 18px;
}

div.page_title img {
  vertical-align: bottom;
  margin-right: 10px;
}

#container_left {
  top:65px;
  left:0px;
  width: 350px;
  padding-bottom: 30px;
}/* end-of container_left */

#container_right {
  top: 65px;
  left: 375px;
  width: 415px;
  padding-bottom: 30px;
}

#party_name {
  width: 100%;
}

#box_date td {
  text-align: right;
}/* end-of box_date */

#box_shop {
}/* end-of box_date */

#shop_name {
  width: 100%;
  border: none;
}/* end-of shop_name */

#box_shop .body table {
  font-size: 13px;
  width: 100%;
}/* end-of box_shop .body table */

#box_shop .body .shop_info {
  font-size: 13px;
<%= 'display: none;' if @shop.nil? %>
}/* end-of box_shop .body .shop_info */

#box_shop .body #shop_detail_area {
  margin-top: 5px;
}

#box_shop .body .image_float_left {
  text-align: center;
  width: 58px;
  float: left;
}/* end-of box_shop .body .image_float_left */

#box_shop .body .image_float_right {
  width: 260px;
  float: right;
}/* end-of box_shop .body .image_float_right */

#box_shop .body img {
  border-style: none;
  vertical-align: bottom;
}/* end-of box_shop .body img */

#box_shop .shop_button {
  text-align: center;
  margin-top: 5px;
}/* end-of box_shop .shop_button */

.rollover_link {
  height: 21px;
  width: 81px;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  padding: 6px 0px 0px 0px;
  margin: 0px 5px 0px 10px;
  color: #4d4d4d;
  display: inline-block;
}/* end-of .rollover_link */

#link_shop_search {
  background-image: url("/images/button_blue.png");
}/* end-of link_shop_search */

#link_shop_clear {
  background-image: url("/images/button_red.png");
}/* end-of link_shop_clear */

#box_budget {
}/* end-of box_budget */

#box_status .body {
  text-align: center;
}/* end-of box_status */

#box_message {
  height: 30px;
  width: 100%;
  border: 0px;
  display: table;
}

#box_message .body {
  border: 5px double #FF9900;
  text-align: center;
  vertical-align: middle;
  color: #FF0000;
  background-color: #FFFF99;
  font-weight: bold;
  display: table-cell;
}/* end-of box_message .body */

#scroll_area_member {
  height: 300px;
}/* end-of scroll_area_member */

/* メンバー一覧テーブル */
#table_member {
  border: 1px solid #999999;
  width: 100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}/* end-of table_member */

/* TD要素 */
#table_member td {
  height: 36px;
  border-top: 2px dotted #999999;
  text-indent: 15px;
}/* end-of table_member .member */

/* グループの設定 */
#table_member tr.member_group td {
  background-image: url("/images/bottomshadow.png");
  background-position: bottom left;
  background-repeat: repeat-x;
  background-color: #FFCCFF;
  border-top: 1px solid #CCCCCC;
  color: #FF0099;
  font-weight: bold;
  text-indent: 5px;
  height: 31px;
  padding-bottom: 2px;
}/* end-of table_member .member_group */

/* 一番最初に出現するグループの設定 */
#table_member tbody.tbody_group:first_child tr td {
  border-top: 0px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}/* end-of table_member tr:first_child .member_group */

/* グループ単位で最初のユーザの設定 */
#table_member tbody.tbody_member tr:first_child td {
  border-top: 0px;
  height: 32px;
}/* end-of table_member tr.member_group + tr td */

#textarea_info {
  width:100%;
  height: 250px;
  border: 1px solid #999999;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#box_submit {
  border: 0px;
  text-align: center;
}

-->
</style>

<script type="text/javascript">
<!--

  var win = new Window({className: "bluelighting", title: "お店検索", top:50, left:200, 
                        width:700, height:550, url: "/shop_search"}) ;

  function to_save(obj) {
    if(!confirm('飲み会情報を保存します。\nメンバーにメール配信されませんが、よろしいですか？'))
      return false;

    var party_detail = document.party_detail;
    party_detail.action = obj.href;
    party_detail.submit();
    return false;
  }

  function to_confirm(obj) {
    var party_detail = document.party_detail;
    party_detail.action = obj.href;
    party_detail.submit();
    return false;
  }

  function search_shop() {
    win.showCenter();
  }

  function clear_shop() {
    if ($("shop_id").value == "") {
      return false;
    }

    if (!confirm("お店情報をクリアします。\nよろしいですか？")) {
      return false;
    }

    $("shop_id").value = "";
    $("shop_info_name").innerHTML = "";
    $("shop_info_address").innerHTML = "";
    $("shop_info_url").href = "";
    $("shop_info").style.display = "none";
  }

  // 検索画面でお店が選択された時に呼び出される関数
  // 引数は選択されたお店のデータ
  // shop.id         <- 店舗ID
  // shop.photo.pc.l <- 店舗トップ写真(大）画像URL
  // という感じでデータを取得できます。
  // 取得できるデータはこちらを参照してください。
  // http://webservice.recruit.co.jp/hotpepper/reference.htmlのグルメサーチAPIレスポンスフィールド
  function onShopSelected(shop) { 
    $('shop_id').value = shop.id;
    $('shop_info_name').innerHTML = shop.name;
    $('shop_info_address').innerHTML = shop.address;
    $('shop_info_url').href = shop.urls.pc;
    $('shop_image_s').src = shop.photo.pc.s;
    $("shop_info").style.display = "block";
    
    win.close();
  }

  function isGroupAllMemberSelection(groupName) {
    var rows = $(groupName).childNodes;
    var length = rows.length;
    var cols = null;
    var elems = null;

    for (var i = 0; i < length; i++) {
      if (rows[i].nodeName.toUpperCase() == "TR") {
        cols = rows[i].childNodes;
        for (var j = 0; j < cols.length; j++) {
          if (cols[j].nodeName.toUpperCase() == "TD") {
            elems = cols[j].childNodes;
            for (var k = 0; k < elems.length; k++) {
              if (elems[k].nodeName.toUpperCase() == "INPUT") {
                if (elems[k].type.toUpperCase() == "CHECKBOX") {
                  if (!elems[k].checked) {
                    return false;
                  }
                }
              }
            }
          }
        }
      }
    }
    return true;
  }

  function onGroupClick(obj) {
    var rows = $(obj.name + "_members").childNodes;
    var length = rows.length;
    var cols = null;
    var elems = null;

    for (var i = 0; i < length; i++) {
      if (rows[i].nodeName.toUpperCase() == "TR") {
        cols = rows[i].childNodes;
        for (var j = 0; j < cols.length; j++) {
          if (cols[j].nodeName.toUpperCase() == "TD") {
            elems = cols[j].childNodes;
            for (var k = 0; k < elems.length; k++) {
              if (elems[k].nodeName.toUpperCase() == "INPUT") {
                if (elems[k].type.toUpperCase() == "CHECKBOX") {
                  elems[k].checked = obj.checked;
                }
              }
            }
          }
        }
      }
    }
  }

  function onMemberClick(obj, groupName) {
    $(groupName).checked = isGroupAllMemberSelection(groupName + "_members");
  }


  // DOMロード時の処理
  //  メンバーの選択状況から、グループを選択
  document.observe('dom:loaded', function() {
    $$(".group_checkbox").each(function(group) {
      $(group.name).checked = isGroupAllMemberSelection(group.name + "_members");
    });
  });

//-->
</script>

<div class="main">

<!-- タイトル -->
<div class="page_title">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr valign="bottom">
      <td><%= image_tag "beer.png" %></td>
      <td>飲み会企画</td>
    </tr>
  </table>
</div><!-- end-of .page_title -->

<!-- form -->
<% form_for @party, :url => {:action => :confirm_party_plan, :id => @party.id}, :html => {:name => :party_detail} do |form| %>

<!-- 左側 -->
<div class="container" id="container_left">

  <!-- 飲み会名BOX -->
  <div class="box" id="box_party_name">
    <div class="title">名称</div>
    <div class="body">
      <%= form.text_field :party_name, { :id => 'party_name', :size => nil } %>
    </div>
  </div><!-- end-of #box_party_name -->

<% unless @party.party_status == nil %>
  <!-- 開催状況BOX -->
  <div class="box" id="box_status">
    <div class="title">開催状況</div>
    <div class="body">
  <% if @party.party_status == '0' %>
      <div class="box" id="box_message">
        <div class="body">まだ配信されていません</div>
      </div><!-- end-of #box_message -->
  <% else %>
      <div class="radio">
         <%= form.radio_button :party_status, '1', { :id => 'status_join', :checked => (@party.party_status == '1') } %><!--
        --><label for="status_join" class="left">開催</label><!--
       --><%= form.radio_button :party_status, '3', { :id => 'status_cancel', :checked => (@party.party_status == '3') } %><!--
        --><label for="status_cancel" class="right">中止</label>
      </div>
  <% end %>
    </div>
  </div><!-- end-of #box_status -->
<% end %>

  <!-- 日程BOX -->
  <div class="box" id="box_date">
    <div class="title">日程</div>
    <div class="body">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td>
            <%= select_tag 'year',
                           options_year(@party.opendate)
            %>
          </td>
          <td>
            <%= select_tag 'month',
                           options_month(@party.opendate)
            %>
          </td>
          <td>
            <%= select_tag 'day',
                           options_day(@party.opendate)
            %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <%= select_tag 'hour',
                           options_hour(@party.opendate)
            %>
          </td>
          <td>
            <%= select_tag 'minute',
                           options_minute(@party.opendate)
            %>
          </td>
        </tr>
      </table>
    </div>
  </div><!-- end-of #box_date -->

  <!-- お店選択BOX -->
  <div class="box" id="box_shop">
    <div class="title">お店</div>
    <div class="body">
      <div class="shop_info" id="shop_info">
        <div id="shop_info_name"><%=h @shop.nil? ? "" : @shop.name %></div>
        <div id="shop_detail_area">
          <div class="image_float_left">
            <a href="<%=h @shop.nil? ? "" : @shop.urls.pc %>" target="_blank" id="shop_info_url">
              <% unless @shop.nil? %>
                <%= image_tag @shop.photo.pc.s, :id => "shop_image_s" %>
              <% else%>
                <img id="shop_image_s"/>
              <% end %>
              <br />
              お店紹介
            </a>
          </div>
          <div class="image_float_right">
            <div class="sub_title">住所</div>
            <div id="shop_info_address"><%=h @shop.nil? ? "" : @shop.address %></div>
          </div>
          <br style="clear: both; font-size: 0px;" />
          <div class="image_credit">【画像提供：ホットペッパー　FooMoo】</div>
        </div>
      </div>
      <div class="shop_button">
        <a class="rollover_link" id="link_shop_search" onclick="search_shop();">検索</a>
        <a class="rollover_link" id="link_shop_clear" onclick="clear_shop();">クリア</a>
      </div>

      <%= form.hidden_field :shop_id, {:value => @party.shop_id, :id => :shop_id} %>
    </div>
  </div><!-- end-of #box_shop -->

  <!-- 予算BOX -->
  <div class="box" id="box_budget">
    <div class="title">予算</div>
    <div class="body">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td>
            <%= form.text_field :due, { :style => 'width:80px;text-align:right;' } %>円
          </td>
          <td>
            <%= form.select :class_party_id,
                            ClassParty.find(:all, :order => 'id').collect { |cp| [cp.class_party_name, cp.id] },
                            :selected => @party.class_party_id
            %>
          </td>
        </tr>
      </table>
    </div>
  </div><!-- end-of #box_budget -->

</div><!-- end-of #container_left -->

<!-- 右側 -->
<div class="container" id="container_right">

  <!-- メンバー選択BOX -->
  <div class="box" id="box_member">
    <div class="title">メンバー</div>
    <div class="body">
      <div class="scroll_area" id="scroll_area_member">
        <table id="table_member" cellspacing="0" cellpadding="0">

        <% for group in @groups %>
          <tbody class="tbody_group">
          <tr class="member_group">
            <td>
              <%= check_box_tag "group_" + group.id.to_s, group.id.to_s, false, {:onclick => 'onGroupClick(this);', :class => 'group_checkbox'} %>
              <label for="group_<%= group.id.to_s %>"><%= group.group_name %></label>
            </td>
          </tr>
          </tbody>
          <tbody id='<%= "group_" + group.id.to_s + "_members" %>' class="tbody_member">
          <% for entrant in group.entrants %>
            <tr>
              <td>
                <%= member_check_box_tag group, entrant, {:onclick => "onMemberClick(this, 'group_#{group.id.to_s}');"} %>
              </td>
            </tr>
          <% end -%>
          </tbody>
        <% end %>
        </table>
      </div>
    </div>
  </div><!-- end-of #box_member -->





  
  <!-- 登録ボタンBOX -->
  <div class="box" id="box_submit">
    <a class="rollover_link" id="link_save" href="/parties/save/<%= @party.id %>" onclick="return to_save(this)">保存</a>
    <a class="rollover_link" id="link_confirm" href="/parties/confirm_party_plan/<%= @party.id %>" onclick="return to_confirm(this)">確認</a>
  </div><!-- end-of #box_submit -->

</div><!-- end-of #container_right -->

<% end %><!-- end-of form -->

</div><!-- end-of .main -->
