<style type="text/css">
<!--

html * {
  font-family: meiryo, arial, "MS Gothic", Gothic;
}

div.main {
  position: relative;
  top: 0px;
  left: 0px;
}

div.page_title {
  position: absolute;
  top: 15px;
  left: 30px;
  font-size: 18px;
}/* end-of div.page_title */

div.page_title img {
  vertical-align: bottom;
  margin-right: 10px;
}/* end-of div.page_title img */

div.party_container {
  position: absolute;
  top: 75px;
  left: 30px;
  width: 785px;
  padding-bottom: 30px;
}/* end-of div.party_container */

div.party_select_tab {
  height: 36px;
  margin-left: 15px;
}/* end-of div.party_select_tab */

div.party_list {
  border: 2px solid #FF99CC;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px;
}/* end-of div.party_list */

div.radio {
  margin-left: 25px;
}/* end-of div.radio */

div.radio label {
  position: relative;
  font-size: 18px;
  width: 200px;
  margin-left: -30px;
}/* end-of div.radio label */

div.radio input:checked + label {
  z-index: 99;
}/* end-of div.radio input:checked + label */

div.radio label.left {
  background-image: url("/images/tab.png");
  z-index: 3;
}/* end-of div.radio label.left */

div.radio label.middle {
  background-image: url("/images/tab.png");
  z-index: 2;
}/* end-of div.radio label.middle */

div.radio label.right {
  background-image: url("/images/tab.png");
  z-index: 1;
}/* end-of div.radio label.right */

div.party {
  margin-top: 10px;
  border: 2px solid #FFCCFF;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}/* end-of div.party */

div.party:first-child {
  margin-top: 0px;
}/* end-of div.party:first-child */

div.party:hover {
  border: 2px solid #FF99CC;
  background: url("/images/highlight.png") top left repeat-x;
  background-color: #FFCCFF;
}/* end-of div.party:hover */

td.shop_image {
  width: 168px;
  vertical-align: top;
}/* end-of td.shop_image */

td.shop_image img {
  border: 1px solid #000000;
  vertical-align: bottom;
}/* end-of td.shop_image img */

td.detail {
  width: 100%;
}/* end-of td.detail */

td.participation {
  width: 110px;
  text-align: center;
}/* end-of td.participation */

td.participation img {
  vertical-align: bottom;
}/* end-of td.participation img */

td.party_name {
  height: 35px;
}/* end-of td.party_name */

td.detail table {
  width: 100%;
  padding-right: 10px;
}/* end-of td.detail table */

td.detail td {
  height: 35px;
  border-top: 2px dotted #999999;
}/* end-of td.detail table tr td */

td.detail tr:first-child td {
  /*border-top: 0px;*/
}/* end-of td.detail table tr:first-child td */

td.item_title {
  width: 60px;
  text-align: center;
}/* end-of td.item_title */

td.item_data {
  text-align: left;
}/* end-of td.item_data */

div.page_link {
  margin-top: 10px;
  text-align: center;
}/* end-of div.page_link */

div.page_link a {
  padding: 3px;
  border: 1px solid #FFCCFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}/* end-of div.page_link a */

div.page_link a:hover {
  border: 1px solid #FF99CC;
  background-color: #FFCCFF;
}/* end-of div.page_link a:hover */

-->
</style>

<script type="text/javascript">
<!--
function tab_click(tab) {
  document.tab.submit();
}

// DOMロード時の処理
//  メンバーの選択状況から、グループを選択
document.observe('dom:loaded', function() {
  $("tab_<%= @party_status.to_s %>").checked = true;
});

//-->
</script>

<div class="main">

<!-- タイトル -->
<div class="page_title">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr valign="bottom">
      <td><%= image_tag "beer.png" %></td>
      <td>飲み会 一覧</td>
    </tr>
  </table>
</div><!-- end-of .page_title -->

<!-- 配置用コンテナ -->
<div class="party_container">
  <!-- 切り替えタブ -->
  <div class="party_select_tab">
    <div class="radio">
      <% form_for :party, :url => { :action => :index }, :html => { :method => :get, :name => :tab } do %>
      <%= radio_button_tag(:party_status, '1', select_tab?('1'), { :class => 'radio', :id => "tab_1", :onclick => 'tab_click(this)' }) %><!--
      --><label for="tab_1" class="left">飲み会情報</label><!--
   --><%= radio_button_tag(:party_status, '2', select_tab?('2'), { :class => 'radio', :id => 'tab_2', :onclick => 'tab_click(this)' }) %><!--
      --><label for="tab_2" class="middle">過去・中止</label><!--
   --><%= radio_button_tag(:party_status, '0', select_tab?('0'), { :class => 'radio', :id => 'tab_0', :onclick => 'tab_click(this)' }) %><!--
      --><label for="tab_0" class="right">未配信</label>
      <% end %>
    </div>
  </div><!-- end-of .party_select_tab -->

  <!-- パーティリスト -->
  <div class="party_list" id="party_list">
    <!-- パーティ -->
    <% for party in @parties -%>
    <% shop = find_shop(party.shop_id) -%>
    <div class="party">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td colspan="2" class="party_name"><%=h party.party_name %></td>
          <td class="participation" rowspan="2">
            <%= image_tag participates_image(party.party_status, party.members[0].member_status) %>
            <%= link_to "詳細を見る", {:action => 'party_detail', :id => party.id} -%>
          </td>
        </tr>
        <tr>
          <td class="shop_image">
            <%= image_tag shop.nil? ? "missing_shop_m.png" : shop.photo.pc.m %>
            <%= recruit_credit_tag %>
          </td>
          <td class="detail">
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td class="item_title">幹事</td>
                <td class="item_data"><%=h party.user.login %></td>
              </tr>
              <tr>
                <td class="item_title">日時</td>
                <td class="item_data"><%=h party.opendate.strftime("%Y年 %m月 %d日 %H時 %M分") %></td>
              </tr>
              <tr>
                <td class="item_title">場所</td>
                <td class="item_data"><%=h shop.nil? ? "お店情報がありません" : shop.name %></td>
              </tr>
              <tr>
                <td class="item_title">住所</td>
                <td class="item_data"><%=h shop.nil? ? "お店情報がありません" : shop.address %></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div><!-- end-of .party -->
    <% end -%>

    <% if @parties.count == 0 -%>
      情報がありません。
    <% end -%>

    <!-- ページリンク -->
    <div class="page_link">
      <%= page_link_tags %>
    </div><!-- end-of .page_link -->

  </div><!-- end-of .party_list -->

</div><!-- end-of .party_container -->

</div>
