<style type="text/css">
<!--

html * {
  font-family: meiryo, arial, "MS Gothic", Gothic;
}

div.main {
  position: relative;
  top: 0px;
  left: 0px;
}

img {
  vertical-align: bottom;
}

div.page_title {
  position: absolute;
  top: 15px;
  left: 0px;
  font-size: 18px;
}/* end-of div.page_title */

div.page_title img {
  vertical-align: bottom;
  margin-right: 10px;
}/* end-of div.page_title img */

.container > div {
  margin-top: 10px;
}

.container > div:first-child {
  margin-top: 0px;
}

#container_left {
  position: absolute;
  top: 80px;
  left: 30px;
  padding-bottom: 30px;
}

#container_left .shop_image img {
  border: 1px solid #000000;
}

#container_left .shop_link {
  text-align: center;
}

#box_manager ul {
  margin-left: -20px;
}

#container_right {
  top: 80px;
  left: 300px;
  width: 450px;
  padding-bottom: 30px;
}

.party_detail table {
  width: 100%;
}

.party_detail td {
  border-bottom: 2px dotted #999999;
  height: 35px;
}

.party_detail table tr:first-child td {
  border-top: 2px dotted #999999;
}

.item_title {
  width: 100px;
  text-align: center;
}

.participation_link {
  text-align: center;
}

#box_message {
  height: 30px;
  width: 100%;
  border: 0px;
  display: table;
  text-align: center;
}

#box_message .body {
  border: 5px double #FF9900;
  text-align: center;
  vertical-align: middle;
  color: #FF0000;
  background-color: #FFFF99;
  font-weight: bold;
  display: table-cell;
}/* end-of box_message .body */

div.radio {
  width: 180px;
}

div.radio label {
  width: 60px;
  height: 25px;
  font-size: 16px;
  line-height: 21px;
}
div.radio label.left {
  background-image: url("/images/opt_left_s.png");
}

div.radio label.middle {
  background-image: url("/images/opt_middle_s.png");
}

div.radio label.right {
  background-image: url("/images/opt_right_s.png");
}

-->
</style>

<div class="main">

<!-- タイトル -->
<div class="page_title">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr valign="bottom">
      <td><img src="/images/beer.png" /></td>
      <td><%=h @party.party_name %></td>
    </tr>
  </table>
</div><!-- end-of .page_title -->

<div class="container" id="container_left">

  <!-- お店画像 -->
  <div class="shop_image">
    <%= image_tag @shop.nil? ? "missing_shop_l.png" : @shop.photo.pc.l %>
    <%= recruit_credit_tag %>
  </div><!-- end-of .shop_image -->

  <!-- 詳細ページリンク -->
  <div class="shop_link">
    <a href="<%=h @shop.nil? ? "" : @shop.urls.pc %>" target="_blank">お店詳細ページ(Hotpepper)</a>
  </div><!-- end-of .shop_link -->

  <!-- ルート検索リンク -->
  <div class="shop_link">
    <a href="#">ルート検索</a>
  </div><!-- end-of .shop_link -->

  <% if @party.user_id.to_s == @user.id.to_s && @party.party_status != "2" %>
  <!-- 幹事メニュー -->
  <div class="box" id="box_manager">
    <div class="title">幹事メニュー</div>
    <div class="body">
      <ul>
        <li><%= link_to '飲み会情報修正', { :action => :create_party_plan, :id => @party.id } %></li>
         日付の変更・中止など
<% if @party.party_status == "1" %>
        <li>
          <% form_for :completed_party, :url => {:action => :completed_party, :id => @party.id}, :html => {:name => :completed_party, :method => :post} do |form| -%>
            <%= link_to '飲み会完了', {:action => '#'}, {:onclick => 'document.completed_party.submit(); return false;' } %>
          <% end -%>
        </li>
         飲み会が完了した場合は<br />完了登録してください
<% end %>
      </ul>
    </div>
  </div><!-- end-of #box_manager -->
  <% end %>

</div><!-- end-of #conteiner_left -->

<div class="container" id="container_right">

  <!-- 飲み会詳細 -->
  <div class="party_detail">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="item_title">幹事</td>
        <td class="item_data"><%=h @party.user.display_name %></td>
      </tr>
      <tr>
        <td class="item_title">日時</td>
        <td class="item_data"><%=h @party.opendate.strftime("%Y年 %m月 %d日 %H時 %M分") %></td>
      </tr>
      <tr>
        <td class="item_title">場所</td>
        <td class="item_data"><%=h @shop.nil? ? "お店情報がありません" : @shop.name %></td>
      </tr>
      <tr>
        <td class="item_title">住所</td>
        <td class="item_data"><%=h @shop.nil? ? "お店情報がありません" : @shop.address %></td>
      </tr>
      <tr>
        <td class="item_title">予算</td>
        <td class="item_data"><%=h @party.due %>円 （<%=h @party.class_party.class_party_name %>）</td>
      </tr>
      <tr>
        <td class="item_title">参加状況</td>
        <td class="item_data">
          <% if @party.party_status == '1' %>
            <% form_for @member do |f| %>
              <div class="radio">
                <%= f.radio_button :member_status, Member::PARTICIPATES_TYPE.index("参加").to_s %><!--
                --><%= f.label "member_status_" + Member::PARTICIPATES_TYPE.index("参加").to_s, "参加", :class=>"left" %><!--
                --><%= f.radio_button :member_status, Member::PARTICIPATES_TYPE.index("未回答").to_s %><!--
                --><%= f.label "member_status_" + Member::PARTICIPATES_TYPE.index("未回答").to_s, "未回答", :class=>"middle" %><!--
                --><%= f.radio_button :member_status, Member::PARTICIPATES_TYPE.index("不参加").to_s %><!--
                --><%= f.label "member_status_" + Member::PARTICIPATES_TYPE.index("不参加").to_s, "不参加", :class=>"right" %>
                <center><%= f.submit '変更' %></center>
              </div>
            <% end %>
          <% else %>
            <%= participates_type(@member.member_status.to_s) %>
          <% end %>
          <%= "（#{@party.members.count}人中 #{@member_status[1]}人参加 #{@member_status[0]}人未回答）" %></td>
      </tr>



    </table>
  </div><!-- end-of .party_detail -->

<% if @party.party_status == "1" %>
  <!-- 参加不参加回答ページリンク -->
  <div class="participation_link">
    <%= link_to "参加者一覧", members_party_path(@party) %>
  </div><!-- end-of .participation_link -->
<% elsif @party.party_status == "2" %>
  <!-- メッセージ欄 -->
  <div class="box" id="box_message">
    <div class="body">この飲み会は完了しました</div>
  </div><!-- end-of #box_message -->
<% elsif @party.party_status == "3" %>
  <!-- メッセージ欄 -->
  <div class="box" id="box_message">
    <div class="body">この飲み会は中止になりました</div>
  </div><!-- end-of #box_message -->
<% end %>

</div><!-- end-of #container_right -->

</div><!-- end-of main -->
