<h1>Editing group</h1>

<% form_for(@group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :group_id %><br />
    <%= f.text_field :group_id %>
  </p>
  <p>
    <%= f.label :group_name %><br />
    <%= f.text_field :group_name %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @group %> |
<%= link_to 'Back', groups_path %>