<h3><%= :dashboard.l %></h3>
<div class="box" style="width:400px; height:160px;">
  <div style="float:left; width:200px">
    <div class="title"><%= :view.l %></div>
    <ul>
      <li><%= link_to :my_profile.l, user_path(@user)  %></li>
    </ul>
  </div>
  <div style="margin-left:200px;">  
    <div class="title"><%= :manage.l %></div>
    <ul>
      <li><%= link_to "プロフィールの編集", edit_user_path(@user) %></li>
    </ul>
  </div>
</div>
<div style="clear:both"></div>
<br />
<div class="box" style="width:400px">
  <div class="title"><%= :stats.l %></div>
  <ul>
    <% if @user.last_login_at %>
      <li><%= :you_last_logged_in_on.l+" #{I18n.l(@user.last_login_at, :format => :published_date)}" %>
    <% end %>   
    <li><%= :member_since.l+" #{I18n.l(@user.created_at, :format => :published_date)}" %></li>
  </ul>
</div>
