<h3>プロフィールの編集</h3>
<% form_tag user_url(@user), :method => 'put', :multipart =>true, :class => 'MainForm' do %>
  <%= submit_tag :save_changes.l %>
  <div class="box">
  <div class="title"><%= :profile_photo.l %></div>
  <%= @user.vendor ? "<div class='right_corner'><div class='community_pro'></div></div>" : '' %>
  <%= image_tag( @user.avatar_photo_url(:medium), :class => "polaroid" ) %>
  <br />
  <label>
    <%= :choose_a_photo_for_your_profile.l %>
    <%= file_field :avatar, :uploaded_data, :size => "20"%>
  </label>
  </div>
  <br />
  <div class="box">
    <div class="title"><%= :birthday_gender.l %></div>
    <fieldset>
      <legend><%= :gender.l %></legend>
      <label>
        <%= radio_button :user, :gender, User::MALE %>
        <%= :male.l %> 
      </label> 
      <label>
        <%= radio_button :user, :gender, User::FEMALE %>
        <%= :female.l %> 
      </label>
    </fieldset>
　　 <fieldset>
      <legend><%= :birthday.l %></legend>
      <%= date_select :user, :birthday, {:start_year=>1926, :end_year => Time.now.year - 1}%> 
    </fieldset>
  </div>
<% end %> 
