<div id="login_user">
<div style="text-align:left; float: left;"><%= "さあ飲みましょう、<b>#{current_user.display_name}</b>さん" %></div>
<div style="text-align:right;">[ <%= link_to "登録情報", dashboard_user_path(current_user), :id => 'user-menu' %> - <%= link_to "ログアウト", logout_path %> ]</div>
<div id='user-menu-tip'> 
  <ul> 
    <li><%= link_to :edit_profile.l, edit_user_path(current_user) %></li>
    <li><%= link_to :edit_account.l, edit_account_user_path(current_user)  %></li>
    <li><%= link_to :manage_posts.l, manage_user_posts_path(current_user) %></li>
    <li><%= link_to :inbox.l, user_messages_path(current_user) %></li>
  </ul> 
  <hr /> 
  <ul> 
    <li><%= link_to :my_profile.l, user_path(current_user) %></li> 
    <li><%= link_to :my_blog.l, user_posts_path(current_user) %></li>
    <li><%= link_to :photo_manager.l, user_photo_manager_index_path(current_user) %></li> 
    <li><%= link_to :my_clippings.l, user_clippings_path(current_user) %></li> 
    <li><%= link_to :my_friends.l, accepted_user_friendships_path(current_user)  %></li> 
  </ul> 
  <hr /> 
</div> 
<script type='text/javascript'> 
  new Tip('user-menu', $('user-menu-tip'), {
    hook:{target: 'bottomRight', tip: 'topRight'},
    hideOn: 'element', 
    hideAfter: 0.1,  
    className: 'silver',
    offset: {y:2, x:12}
    });
</script>
</div>
