<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title><%= AppConfig.community_name %></title>
<%= stylesheet_link_tag "common" %>
<%= stylesheet_link_tag "prototip"%>
<%= stylesheet_link_tag "sdmenu" %>
<%= stylesheet_link_tag 'container', 'rolloverlink', 'optionbutton', 'credit' %>
<%= javascript_include_tag "prototype" %>
<%= javascript_include_tag "prototip-min" %>
<%= javascript_include_tag "sdmenu" %>
<%= javascript_include_tag "application" %>
<%= yield :head %>
</head>
<body>
<div id="container">
    <% if logged_in? %>
      <%= render :partial => 'shared/user_menu' %>
    <% end %>
  <div id="header" style="background-image:url('/images/header.png');">
    <!--<h1><%= link_to("トップ", "/")%></h1>-->
  </div>
  <div id="sidebar">
<!--
  	<h2>■メニュー</h2>
    <div id="menu" class="sdmenu">
      <div>
        <span>飲み会</span>
        <a href="/parties/create_party_plan">企画</a>
        <a href="/parties/">一覧</a>
      </div>
      <div>
        <span>ユーザー</span>
        <%= link_to("検索", "/users")%>
      </div>
      <div>
        <span>グループ</span>
        <a href="/groups">一覧</a>
        <a href="/groups/new">作成</a>
      </div>
    </div>
-->
  <div class="container" id="main-menu">
    <div class="box">
      <div class="title">飲み会</div>
      <div class="body">
        <div><a href="/parties/create_party_plan">企画</a></div>
        <div><a href="/parties/">一覧</a></div>
      </div>
    </div>

    <div class="box">
      <div class="title">グループ</div>
      <div class="body">
        <div><a href="/groups">一覧</a></div>
        <div><a href="/groups/new">作成</a></div>
      </div>
    </div>

  <div class="webservice_credit">
    <br /><a href="http://webservice.recruit.co.jp/"><img src="http://webservice.recruit.co.jp/banner/hotpepper-m.gif" alt="ホットペッパー Webサービス" width="88" height="35" border="0" title="ホットペッパー Webサービス"></a>
  </div>

  </div>

  </div>
  <div id="content">
    <%= yield %>
  </div>
</div>

</body>
</html>
