<?xml version="1.0" encoding="utf-8">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title><%= AppConfig.community_name %></title>
<%= javascript_include_tag "prototype" %>
<%= javascript_include_tag "prototip-min" %>
<%= javascript_include_tag "sdmenu" %>
<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "common" %>
<%= stylesheet_link_tag "prototip"%>
<%= stylesheet_link_tag "sdmenu" %>
</head>
<body>
<div id="container">
  <div id="header">
    <h1><%= link_to("トップ", "/")%></h1>
    <% if logged_in? %>
      <%= render :partial => 'shared/user_menu' %>
    <% end %>
  </div>
  <div id="sidebar">
  	<h2>■メニュー</h2>
    <div id="menu" class="sdmenu">
      <div>
        <span>飲み会</span>
        <a href="/">企画</a>
        <a href="/">検索</a>
      </div>
      <div>
        <span>ユーザー</span>
        <%= link_to("検索", "/users")%>
      </div>
      <div>
        <span>グループ</span>
        <a href="/">検索</a>
        <a href="/">...</a>
      </div>
    </div>
  </div>
  <div id="content">
  	<%= yield %>
  </div>
</div>
</body>
</html>
